@font-face {
    font-family: 'FuturaPT-Bold';
    src: local('FuturaPT Bold'), local('FuturaPTBold'),
    url(fonts/FuturaPTBold.otf);
}

@font-face {
    font-family: "FuturaPT-Medium";
    src: local('FuturaPT Medium'), local('FuturaPTMedium'),
    url(fonts/FuturaPTMedium.otf) format("opentype");
}

@font-face {
    font-family: "FuturaPT-MediumOblique";
    src: local('FuturaPT Medium Oblique'), local('FuturaPTMediumOblique'),url(fonts/FuturaPTCondMediumOblique.otf) format("opentype");
}

@font-face {
    font-family: "FuturaPT-Book";
    src: local('FuturaPT Book'), local('FuturaPTBook'),
        url(fonts/FuturaPTBook.otf) format("opentype");
}

@font-face {
    font-family: "FuturaPT-Light";
    src: local('FuturaPT Light'), local('FuturaPTLight'),url(fonts/FuturaPTLight.otf) format("opentype");
}

/* Basic styles*/
html, body {margin:0;padding:0;height:100%;}

html {
-webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}
