/* CONTACT INFO STYLES (these are used for both large AND small layouts) */
.containerStyles {
    width: 100%;
    background-color: #5f703a;
    color: #f4e0b9;
    padding-top: 2%;
    padding-bottom: 2%;

}

/*.footer-contentContainer {
    width: 100%;
}*/

/* header and sub header text styles and alignment */
.customHeaderAlignText {
    text-align: center;
}

/*.customJustify {
    justify-content: center;
}*/

.contactInfoHeader {
    font-family: 'FuturaPT-Medium';
    font-size: 55pt;
    color: #f4e0b9;
    margin-bottom: -10px;
}

.subHeaderText {
    min-width: 100%;
    font-size: 30pt;
    padding-bottom: 2%;
    text-align: center;
}

/*.contactSubText {
    font-family: 'FuturaPT-Light';
    font-size: 20pt;
    color: #f4e0b9;
}*/

/* contact information row text styling and alignment*/

.footerRightSection, .footerLeftSection {
    height: 100%;
}

.footerSubText {
    font-family: 'FuturaPT-Light';
    font-size: 15pt;
}

.verticalLineStyle {
    border-right: 4px solid #f4e0b9;
}

.customContentJustify-right {
    justify-content: right;
}

.customContentJustify-left {
    justify-content: right;
}

/* share button styling and padding */
.customPadding {
    padding-top: 12%;
}

/*SMALL LAYOUT SPECIFIC STYLES */
.shareTextCustom {
    font-family: 'FuturaPT-Light';
    font-size: 11pt;
}

/* CONTACT INFO MEDIA QUERY OPTIMIZATION */
@media (min-width:2000px) {
    .contactSubText {
        font-size: 30pt;
    }
}
@media (min-width: 1920px) {
}

@media (max-width: 1200px) {
    .subHeaderText {
        font-size: 25pt;
    }
    .customPadding {
        padding-top: 15%;
    }
}

@media (max-width: 1000px) {
    .contactInfoHeader {
        font-size: 40pt;
    }
    .subHeaderText {
        font-size: 18.5pt;
        padding-bottom: 3%;
    }
    .customPadding {
        padding-top: 15%;
    }
}

@media (max-width: 960px) {
    .customPadding {
        padding-top: 30%;
    }
    .contactSubText {
        font-size: 17pt;
    }
}

@media (max-width: 770px) {
    .subHeaderText {
        font-size: 14pt;
    }
    .contactInfoHeader {
        font-size: 28pt;
        padding-bottom: 1%;
    }
    .footerSubText {
        font-size: 10pt;
    }
    .contactSubText {
        font-size: 14pt;
    }
}

@media (max-width: 550px) {
    .subHeaderText {
        font-size: 12pt;
    }
    .contactInfoHeader {
        font-size: 25pt
    }
    .footerSubText {
        font-size: 9pt;
    }
    .shareTextCustom {
        font-size: 10pt;
    }
    .shareTextCustom {
        font-size: 11pt;
    }
    .contactSubText {
        font-size: 10pt;
    }
}

@media (max-width: 480px) {
    .subHeaderText {
        font-size: 9.5pt;
    }
    .contactInfoHeader {
        font-size: 19pt;
        padding-bottom: 2%;
    }
    .footerSubText {
        font-size: 7pt;
    }
    .shareTextCustom {
        font-size: 9pt;
    }
    .specialMaxIconWidth {
        max-width: 12px;
    }
    .maxIconWidth {
        max-width: 15px;
    }
}

@media (max-width: 380px) {
    .subHeaderText {
        font-size: 8pt;
    }
    .contactInfoHeader {
        font-size: 15pt;
        padding-bottom: 3%;
    }
    .footerSubText {
        font-size: 6pt;
    }
    .shareTextCustom {
        padding: 0 !important;
        padding-top: 7% !important;
        padding-left: 10% !important;
        font-size: 7pt;
    }
    .specialMaxIconWidth {
        max-width: 9px;
    }
    .maxIconWidth {
        max-width: 12px;
    }
    .reducedPadding {
        padding-right: -2px;
    }
}