/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* WRAPPER STYLES */
#homepage-wrapper {
    position: relative;
}

/* TITLE PAGE STYLES */
#page1 {
    width: 100%;
    background: #5f703a;
    position: relative;
    padding-bottom: 2.5%;
}

.titleImage {
    max-width: 90%;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

.titleOblique-text {
    font-family: 'FuturaPT-MediumOblique';
    font-size: 45pt;
    color: #f4e0b9;
    letter-spacing: 1.5px;
}

.title-lineStyle {
    content: "";
    display: block;
    margin: 0 auto;
    width: 3%;
    border-bottom: solid 2px #f4e0b9;
    margin-top: 1%;
}

.scroll-info {
    width: 30%;
    margin: 0 auto;
    padding-bottom: 3%;
    margin-top: 2.5%;
}

.scroll-text {
    width: 100%;
    font-family: 'FuturaPT-Book';
    font-size: 15pt;
    color: #f4e0b9;
}

    
/* TITLE PAGE MEDIA QUERY OPTIMIZATION*/
@media (min-width: 1920px) {
    .titleImage {
        width: 50%;
    }
    .titleOblique-text {
        font-size: 40pt;
    }
    .scroll-text {
        font-size: 20pt;
    }
}

@media (max-width: 1200px) {
    .titleOblique-text {
        font-size: 39pt;
    }
    .scroll-text {
        font-size: 14pt;
    }
}

@media (max-width: 1000px) {
    .titleOblique-text {
        font-size: 35pt;
    }
    .scroll-text {
        font-size: 12pt;
    }
}

@media (max-width: 960px) {
    .titleOblique-text {
        font-size: 27pt;
    }
}

@media (max-width: 760px) {
    .titleOblique-text {
        font-size: 19pt;
    }
}

@media (max-width: 550px) {
    .titleOblique-text {
        font-size: 15pt;
    }
    .scroll-text {
        font-size: 10pt;
    }
}

@media (max-width: 480px) {
    .titleOblique-text {
        font-size: 11.5pt;
    }
}

@media (max-width: 380px) {
    .titleOblique-text {
        font-size: 9pt;
    }
    .scroll-text {
        font-size: 7pt;
    }
}

@media (max-width: 320px) {
    .titleOblique-text {
        font-size: 9pt;
    }
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* NAV BAR DIVIDER STYLES */
.page-divider {
    position: relative;
    background-color: #464232;
    width: 100%;
    height: 75px;
}

.navbar {
    min-height: 75px;
}

nav.customNavStyles-unFixed {
    /*detached from top of page until scrolled past*/
    background-color: rgba(128,128,128,0.5);
    top: 0;
    width: 100%;
    z-index: 100;
}

nav.customNavStyles-Fixed {
    /*affixes nav bar to top of page once scrolled past*/
    background-color: rgba(128,128,128,0.8);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
}

.navbar-brand {
    font-family: 'FuturaPT-Book';
    font-size: 25pt;
    color: white;
}

.nav-item {
    /*spacing out nav items*/
    margin-left: 20%;
    color: white;
    font-size: 15pt;
}

.nav-link:hover {
    color: #f5e1b9 !important;
}


/* NAVBAR PAGE MEDIA QUERY OPTIMIZATION*/
@media (max-width: 991px) {
    /* Special case: modifies margin spacing when the nav bar is collapsed  */
    .navbar-collapse .nav-item{
        margin-left: 0%;
        margin-top: 2.5%;
    }
}

@media (max-width: 550px) {
    .navbar {
        min-height: 60px;
    }
    .page-divider {
        height: 60px;
    }
    .navbar-brand {
        font-size: 15pt;
    }
    .nav-item {
        margin-left: 20%;
        font-size: 10pt;
    }
}

@media (max-width: 380px) {
    .nav-link {
        padding-bottom: 2px;
    }
}


/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/


/* HOME PAGE STYLES */
#page2 {
    width: 100%;
}

.imageContainer { /* Background Image Styles */
    position: relative;
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    z-index: -100;
}

img.mainImage {
    transform: rotate(90deg);
    min-width: 150%;
    opacity: 0.85;
} 

/* Main Page content DESKTOP */
.contentContainer {
    display: block;
    position: absolute;
    width: 100%;
    margin-top: 45%;
}

.headerStyle {
    font-family: 'FuturaPT-Bold';
    font-size: 60pt;
    color: #f4e0b9;
    margin-bottom: -1.5%;
}

.infoStyle {
    font-family: "FuturaPT-Light";
    font-size: 29.5pt;
    color: #f4e0b9;
    letter-spacing: 0.3pt;
    margin-bottom: 0%;
}

.lineStyle {
    display: block;
    margin: 0 auto;
    width: 25%;
    border-bottom: solid 4px #f4e0b9;
}

.portfolioButton {
    background: transparent;
    border-width:medium;
    color: #f4e0b9;
    border-color: #f4e0b9;
    font-family: 'FuturaPT-Light';
    font-size: 20pt;
    padding: 15px 45px;
    margin-top: 4%;
}

.portfolioButton:hover {
    background-color: dimgrey;
}

/* HOMEPAGE MEDIA QUERY OPTIMIZATION */
@media (min-width: 2000px) {
    .headerStyle {
        font-size: 90pt;
        margin-bottom: -1%;
    }
    .infoStyle {
        font-size: 44.7pt;
        margin-bottom: 0.7%;
    }
    .lineStyle {
        border-bottom: solid 4px #f4e0b9;
        margin-bottom: -0.5%;
    }
    .portfolioButton {
        border-width:3px;
        font-size: 32pt;
        padding: 17px 47px;
        margin-top: 4%;
    }
}

@media (max-width: 960px) {
    .headerStyle {
        font-size: 39pt;
        margin-bottom: -2%;
    }
    .infoStyle {
        font-size: 19pt;
        margin-bottom: -2%;
    }
    .lineStyle {
        border-bottom: solid 3px #f4e0b9;
        margin-bottom: 0%;
    }
    .portfolioButton {
        border-width:2px;
        font-size: 15pt;
        padding: 12px 29px;
    }
}

@media (max-width: 760px) {
    .headerStyle {
        font-size: 33pt;
        margin-bottom: -3%;
    }
    .infoStyle {
        font-size: 15.7pt;
        margin-bottom: -4%;
    }
    .portfolioButton {
        border-width:2px;
        font-size: 13pt;
        padding: 10px 27px;
    }
}

@media (max-width: 550px) {
    .headerStyle {
        font-size: 27pt;
        margin-bottom: -3.5%;
    }
    .infoStyle {
        font-size: 12.7pt;
        margin-bottom: -7%;
    }
    .lineStyle {
        border-bottom: solid 2px #f4e0b9;
        margin-bottom: 0.5%;
    }
    .portfolioButton {
        border-width:1.75px;
        font-size: 12pt;
        padding: 8px 20px;
    }
}

@media (max-width: 480px) {
    .headerStyle {
        font-size: 25pt;
        margin-bottom: -4%;
    }
    .infoStyle {
        font-size: 11.7pt;
        margin-bottom: -8%;
    }
    .lineStyle {
        border-bottom: solid 2px #f4e0b9;
    }
    .portfolioButton {
        font-size: 10pt;
        padding: 8px 20px;
    }
}

@media (max-width: 380px) {
    .headerStyle {
        font-size: 19.5pt;
        margin-bottom: -4.5%;
    }
    .infoStyle {
        font-size: 9pt;
        margin-bottom: -11%;
    }
    .lineStyle {
        border-bottom: solid 1.75px #f4e0b9;
    }
    .portfolioButton {
        font-size: 10pt;
        padding: 6px 18px;
    }
}

@media (max-width: 320px) {
    .headerStyle {
        font-size: 17pt;
        margin-bottom: -5%;
    }
    .infoStyle {
        font-size: 7.7pt;
        margin-bottom: -12%;
    }
    .lineStyle {
        border-bottom: solid 1.75px #f4e0b9;
    }
    .portfolioButton {
        font-size: 9pt;
        padding: 5px 15px;
    }
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/


/* HIGHLIGHTS DIVIDER STYLES */
#highlightsDivider {
    padding-top: 1%;
    width: 100%;
    background: #454231;
    position: relative;
    padding-bottom: 2%;
}

.dividerHeader {
    font-family: 'FuturaPT-Medium';
    font-size: 48pt;
    color: #f4e0b9;
    margin-bottom: -10px;
}

.dividerSubText {
    font-family: 'FuturaPT-Light';
    font-size: 20pt;
    color: #f4e0b9;
}

/* HIGHLIGHTS DIVIDER MEDIA QUERY OPTIMIZATION */
@media (min-width:2000px) {
    .dividerHeader {
        font-size: 65pt;
        margin-bottom: -0.5%;
    }
    .highlightsDivider-subText {
        font-size: 30pt;
    }
}
@media (max-width:960px) {
    .dividerHeader {
        font-size: 38pt;
        margin-bottom: -2%;
    }
    .highlightsDivider-subText {
        font-size: 17pt;
    }
}
@media (max-width:760px) {
    .dividerHeader {
        font-size: 30pt;
        margin-bottom: -3%;
    }
    .highlightsDivider-subText {
        font-size: 14pt;
    }
}
@media (max-width:550px) {
    .dividerHeader {
        font-size: 20pt;
        margin-bottom: -16px;
    }
    .highlightsDivider-subText {
        font-size: 10pt;
    }
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/


/* Highlights Page */
#page3 {
    width: 100%;
    position: relative;
    background-color: #8e7d69;
    display: block;
}

/*
#page3 .row {
    width: 100%;
    margin: 0 auto;
}

#page3 .row:first-of-type {
    padding-top: 25px;
}

#page3 .imageAnchor {
    border-style: none;
    background: none;
    padding: 0px;
    border-radius: 0px;
    object-fit: cover;
    width:100%;
    height: 95%;
}*/

/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/


/* More Info Divider */
#moreInfoDivider {
    z-index: 100;
    padding-top: 1.5%;
    width: 100%;
    background: #454231;
    position: relative;
    padding-bottom: 2.5%;
}

.moreInfoDivider-subText {
    font-size: 20pt;
    margin-bottom: -1%;
}

.infoDivider-lineStyle {
    display: block;
    margin: 0 auto;
    width: 18%;
    border-bottom: solid 3px #f4e0b9;
    margin-bottom: -1.5%;
}

/* MORE INFO DIVIDER MEDIA QUERY OPTIMIZATION */
@media (min-width:2000px) {
    .moreInfoDivider-subText {
        font-size: 30pt;
        margin-bottom: -1%;
    }
}

@media (max-width: 1200px) {
    .moreInfoDivider-subText {
        margin-bottom: -2.5%;
    }
}

@media (max-width:960px) {
    .moreInfoDivider-subText {
        font-size: 15pt;
        margin-bottom: -4%;
    }
    .infoDivider-lineStyle {
        border-bottom: solid 2px #f4e0b9;
    }
}
@media (max-width:760px) {
    .moreInfoDivider-subText {
        margin-bottom: -6%;
    }
}
@media (max-width:550px) {
    .moreInfoDivider-subText {
        font-size: 10pt;
        margin-bottom: -11%;
    }
    .infoDivider-lineStyle {
        border-bottom: solid 1px #f4e0b9;
        margin-bottom: 0.5%;
        margin-top: -1%;
    }
}

@media (max-width: 320px) {
    .moreInfoDivider-subText {
        margin-bottom: -10%;
    }
    .infoDivider-lineStyle {
        margin-top: -4%;
        margin-bottom: 0.5%;
    }
}


/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Bio Page Styles */
#page4 { /* Background Image Styles */
    position: relative;
    width: 100%;
}

.imageContainer2 { /* Background Image Styles */
    position: relative;
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    z-index: -101;
}

.contentBoxRestricted {
    max-width: 50%;
    margin-top: 22%;
    margin-left: 5%;
    max-height: 100%;
}

.mainImage2 {
    transform: rotate(90deg);
    min-width: 150%;
    opacity: 0.9;
}

.bioInfo-subText {
    font-family: "FuturaPT-Light";
    font-size: 25pt;
    color: #f4e0b9;
    letter-spacing: 0.3pt;
    margin-bottom: 0%;
    line-height: 1.25em;
}

.bioInfo-customMargin {
    margin-bottom: -3%;
}


/* BIO PAGE MEDIA QUERY OPTIMIZATION */
@media (min-width:2000px) {
}

@media (max-width: 1400px) {
    .contentBoxRestricted {
        margin-top: 15%;
    }
    .bioInfo-subText {
        font-size: 20pt;
    }
    .bioInfo-customMargin {
        margin-bottom: -5%;
    }
    .bioInfo-customParaMargin{
        margin-bottom: -1.5%;
    }
}

@media (max-width: 1200px) {
    .contentBoxRestricted {
        margin-top: 13%;
    }
    .bioInfo-subText {
        font-size: 18pt;
    }
    .bioInfo-customMargin {
        margin-bottom: -7%;
    }
    .bioInfo-customParaMargin{
        margin-bottom: -2%;
    }
}

@media (max-width:960px) {
    .contentBoxRestricted {
        margin-top: 10%;
    }
    .bioInfo-subText {
        font-size: 15pt;
    }
    .bioInfo-customMargin {
        margin-bottom: -9%;
    }
    .bioInfo-customParaMargin{
        margin-bottom: -3.5%;
    }
}
@media (max-width:760px) {
    .contentBoxRestricted {
        margin-top: 7%;
    }
    .bioInfo-subText {
        font-size: 11pt;
    }
    .bioInfo-customMargin {
        margin-bottom: -13%;
    }
    .bioInfo-customParaMargin{
        margin-bottom: -5%;
    }
}
@media (max-width:550px) {
    .contentBoxRestricted {
        margin-top: 10%;
        max-width: 90%;
    }
    .bioInfo-subText {
        font-size: 10pt;
    }
    .bioInfo-customMargin {
        margin-bottom: -8.5%;
    }
    .bioInfo-customParaMargin{
        margin-bottom: -4%;
    }
}

@media (max-width: 400px) {
    /*special case to fix scaling issues */
    .contentBoxRestricted {
        margin-top: 2%;
    }
    .bioInfo-subText {
        font-size: 9pt;
    }
    .bioInfo-customMargin {
        margin-bottom: -11%;
    }
    .bioInfo-customParaMargin{
        margin-bottom: -6%;
    }
}

@media (max-width: 320px) {
    .contentBoxRestricted {
        margin-top: -1%;
    }
    .bioInfo-subText {
        font-size: 8pt;
    }
    .bioInfo-customMargin {
        margin-bottom: -13.5%;
    }
    .bioInfo-customParaMargin{
        margin-bottom: -8%;
    }
}


/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Contact Info */
#contactInfo {
    width: 100%;
    background-color: #5f703a;
    color: #f4e0b9;
    padding-top: 2%;
    padding-bottom: 2%;

}

.footer-contentContainer {
    width: 100%;
}

/* header and sub header text styles and alignment */
.customHeaderAlignText {
    text-align: center;
}

.customContentJustify-center {
    justify-content: center;
}

.contactInfoHeader {
    font-family: 'FuturaPT-Medium';
    font-size: 55pt;
    color: #f4e0b9;
    margin-bottom: -10px;
}

.contactInfo-subHeaderText {
    min-width: 100%;
    font-size: 30pt;
    padding-bottom: 2%;
    text-align: center;
}

/* contact information row text styling and alignment*/
.row:last-of-type {
    justify-content: center;
    width: 100%;
}

.footerRightSection, .footerLeftSection {
    height: 100%;
}

.footer-subText {
    font-family: 'FuturaPT-Light';
    font-size: 15pt;
}

.verticalLineStyle {
    border-left: 4px solid #f4e0b9;
}

.customContentJustify-right {
    justify-content: right;
}

/* share button styling and padding */
.customPadding {
    padding-top: 12%;
}

.shareButton {
    background: transparent;
    border-width:medium;
    color: #f4e0b9;
    border-color: #f4e0b9;
    font-family: 'FuturaPT-Light';
    font-size: 20pt;
    padding: 15px 45px;
    margin-top: 4%;
}

/* CONTACT INFO MEDIA QUERY OPTIMIZATION */
@media (min-width: 1920px) {
}

@media (max-width: 1200px) {
    .contactInfo-subHeaderText {
        font-size: 25pt;
    }
    .customPadding {
        padding-top: 15%;
    }
}

@media (max-width: 1000px) {
    .contactInfoHeader {
        font-size: 40pt;
    }
    .contactInfo-subHeaderText {
        font-size: 18.5pt;
        padding-bottom: 3%;
    }
    .customPadding {
        padding-top: 15%;
    }
}

@media (max-width: 960px) {
    .shareButton {
        border-width:2px;
        font-size: 15pt;
        padding: 12px 29px;
    }
    .customPadding {
        padding-top: 30%;
    }
}

@media (max-width: 770px) {
    .shareButton {
        border-width:2px;
        font-size: 13pt;
        padding: 10px 27px;
    }
    .contactInfo-subHeaderText {
        font-size: 14pt;
    }
    .contactInfoHeader {
        font-size: 28pt;
        padding-bottom: 1%;
    }
    .footer-subText {
        font-size: 10pt;
    }
}

@media (max-width: 550px) {
    .shareButton {
        border-width:1.75px;
        font-size: 12pt;
        padding: 8px 20px;
    }
    .contactInfo-subHeaderText {
        font-size: 12pt;
    }
    .contactInfoHeader {
        font-size: 25pt
    }
    .footer-subText {
        font-size: 10pt;
    }
    .verticalLineStyle {
        border-left: 3px solid #f4e0b9;
    }
    .customPadding {
        margin-top: 20%;
    }
}

@media (max-width: 480px) {
    .shareButton {
        font-size: 10pt;
        padding: 8px 20px;
    }
    .contactInfo-subHeaderText {
        font-size: 9.5pt;
    }
    .contactInfoHeader {
        font-size: 19pt;
        padding-bottom: 2%;
    }
    .footer-subText {
        font-size: 7pt;
    }
    .specialMaxIconWidth {
        max-width: 12px;
    }
    .maxIconWidth {
        max-width: 15px;
    }
    .customPadding {
        margin-top: 35%;
    }
}

@media (max-width: 380px) {
    .shareButton {
        font-size: 10pt;
        padding: 6px 18px;
    }
    .contactInfo-subHeaderText {
        font-size: 8pt;
    }
    .contactInfoHeader {
        font-size: 15pt;
        padding-bottom: 3%;
    }
    .footer-subText {
        font-size: 6pt;
    }
    .specialMaxIconWidth {
        max-width: 9px;
    }
    .maxIconWidth {
        max-width: 12px;
    }
    .customPadding {
        margin-top: 30%;
    }
    .verticalLineStyle {
        border-left: 1px solid #f4e0b9;
    }
    .reducedPadding {
        padding-right: -2px;
    }
}

@media (max-width: 320px) {
    .shareButton {
        font-size: 9pt;
        padding: 5px 15px;
    }
}