/* Button themes and Styles */
.buttonStyle {
    background: transparent;
    border-width:medium;
    color: #f4e0b9;
    border-color: #f4e0b9;
    font-family: 'FuturaPT-Light';
    font-size: 20pt;
    padding: 15px 45px;
    margin-top: 4%;
}

.buttonStyle:hover {
    background-color: dimgrey;
}

@media (min-width: 2000px) {
    .buttonStyle {
        border-width:3px;
        font-size: 32pt;
        padding: 17px 47px;
        margin-top: 4%;
    }
}

@media (max-width: 960px) {
    .buttonStyle {
        border-width:2px;
        font-size: 15pt;
        padding: 12px 29px;
    }
}

@media (max-width: 760px) {
    .buttonStyle {
        border-width:2px;
        font-size: 13pt;
        padding: 10px 27px;
    }
}

@media (max-width: 550px) {
    .buttonStyle {
        border-width:1.75px;
        font-size: 12pt;
        padding: 8px 20px;
    }
}

@media (max-width: 480px) {
    .buttonStyle {
        font-size: 10pt;
    }
}

@media (max-width: 390px) {
    .buttonStyle {
        font-size: 10pt;
        padding: 6px 18px;
    }
}

@media (max-width 320px) {
    .buttonStyle {
        font-size: 9pt;
        padding: 5px 15px;
    }
}

