/* NAV BAR DIVIDER STYLES */
.navbar {
    min-height: 75px;
}

nav.customNavStyles-unFixed {
    /*detached from top of page until scrolled past*/
    background-color: rgba(128,128,128,0.5);
    top: 0;
    width: 100%;
    z-index: 100;
}

nav.customNavStyles-Fixed {
    /*affixes nav bar to top of page once scrolled past*/
    background-color: rgba(128,128,128,0.9);
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-brand {
    font-family: 'FuturaPT-Book';
    font-size: 25pt;
    color: white;
}

.nav-item {
    /*spacing out nav items*/
    margin-left: 20%;
    color: white;
    font-size: 15pt;
}

.nav-link:hover {
    color: #f5e1b9 !important;
}


/* NAVBAR PAGE MEDIA QUERY OPTIMIZATION*/
@media (max-width: 991px) {
    /* Special case: modifies margin spacing when the nav bar is collapsed  */
    .navbar-collapse .nav-item{
        margin-left: 0%;
        margin-top: 2.5%;
    }
}

@media (max-width: 550px) {
    .navbar {
        min-height: 60px;
    }
    .page-divider {
        height: 60px;
    }
    .navbar-brand {
        font-size: 15pt;
    }
    .nav-item {
        margin-left: 20%;
        font-size: 10pt;
    }
}

@media (max-width: 380px) {
    .nav-link {
        padding-bottom: 2px;
    }
}
