/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* PORTFOLIO PAGE STYLES */
#portfolioPage {
    display: block;
    width: 100%;
    min-height: 100vh;
    background-color: #454231;
}

.customPortfolioContainer {
    position: relative;
    margin-top: 15%;
}

.customPortfolioLineStyle {
    width: 10%;
}

/* header and text info styles */
.headerStyle-GenrePage {
    font-family: 'FuturaPT-Bold';
    font-size: 60pt;
    color: #f4e0b9;
    margin-bottom: -1.5%;
}

.infoStyle-GenrePage {
    font-family: "FuturaPT-Light";
    font-size: 29.5pt;
    color: #f4e0b9;
    letter-spacing: 0.3pt;
    margin-bottom: -1.5%;
}

/* dropdown menu button styles */
.genreSelectButton1 {
    background: transparent;
    border-width:medium;
    color: #f4e0b9;
    border-color: #f4e0b9;
    font-family: 'FuturaPT-Light';
    font-size: 20pt;
    padding: 15px 45px;
    margin-top: 20%;
}

.genreSelectButton1:hover {
    background-color: dimgrey;
}

.portfolioDropdown>.dropdown-menu {
    background-color: transparent;
    width: 100%;
    border: 2px solid #f4e0b9;
    border-top: none;
    border-radius: 0px 0px 3px 3px;
    text-align: center;
}

.portfolioDropdown .dropdown-item {
    color: #f4e0b9;
    font-family:'FuturaPT-Light';
    font-size: 15pt;
    padding-bottom: 5%;
    letter-spacing: 0.5px;
}

.portfolioDropdown .dropdown-item:hover {
    color: #454231;
}


/* PORTFOLIO PAGE MEDIA QUERY OPTIMIZATION */
@media(min-width: 2000px) {
    .headerStyle-GenrePage {
        font-size: 90pt;
        margin-bottom: -1%;
    }
    .infoStyle-GenrePage {
        font-size: 44.7pt;
        margin-bottom: 0.7%;
    }
    .genreSelectButton1 {
        border-width:3px;
        font-size: 32pt;
        padding: 17px 47px;
        margin-top: 4%;
    }
}

@media (max-width: 1920px) {
    
}

@media (max-width: 1200px) {
    
}

@media (max-width: 1000px) {
    
}

@media (max-width: 960px) {
    .customPortfolioContainer {
        margin-top: 20%;
    }
    .headerStyle-GenrePage {
        font-size: 55pt;
        margin-bottom: -2%;
    }
    .infoStyle-GenrePage {
        font-size: 28pt;
        margin-bottom: -2%;
    }
}

@media (max-width: 760px) {
    .customPortfolioContainer {
        margin-top: 30%;
    }
    .headerStyle-GenrePage {
        font-size: 40pt;
        margin-bottom: -3%;
    }
    .infoStyle-GenrePage {
        font-size: 22pt;
        margin-bottom: -4%;
    }
    .genreSelectButton1 {
        border-width:2px;
        font-size: 16pt;
        padding: 13px 35px;
    }
    .portfolioDropdown>.dropdown-menu {
        /*max-width: 90%;*/
    }
    
}

@media (max-width: 550px) {
    .customPortfolioContainer {
        margin-top: 35%;
    }
    .headerStyle-GenrePage {
        font-size: 37pt;
        margin-bottom: -3.5%;
    }
    .infoStyle-GenrePage {
        font-size: 19pt;
        margin-bottom: -7%;
    }
    /*.genreSelectButton1 {
        border-width:1.75px;
        font-size: 12pt;
        padding: 8px 20px;
    }*/
}

@media (max-width: 480px) {
    .customPortfolioContainer {
        margin-top: 45%;
    }
    .headerStyle-GenrePage {
        font-size: 30pt;
        margin-bottom: -4%;
    }
    .infoStyle-GenrePage {
        font-size: 16pt;
        margin-bottom: -8%;
    }
    /*.genreSelectButton1 {
        font-size: 10pt;
        padding: 8px 20px;
    }*/
}

@media (max-width: 380px) {
    .headerStyle-GenrePage {
        font-size: 25pt;
        margin-bottom: -4.5%;
    }
    .infoStyle-GenrePage {
        font-size: 13pt;
        margin-bottom: -11%;
    }
    /*.genreSelectButton1 {
        font-size: 10pt;
        padding: 6px 18px;
    }*/
}

@media (max-width: 320px) {
    .headerStyle-GenrePage {
        font-size: 23pt;
        margin-bottom: -5%;
    }
    .infoStyle-GenrePage {
        font-size: 13pt;
        margin-bottom: -12%;
    }
    .genreSelectButton1 {
        font-size: 9pt;
        padding: 5px 15px;
    }
}