/* CONTACT INFO STYLES (these are used for both large AND small layouts) */
#contactInfo {
    width: 100%;
    background-color: #5f703a;
    color: #f4e0b9;
    padding-top: 2%;
    padding-bottom: 2%;

}

.footer-contentContainer {
    width: 100%;
}

/* header and sub header text styles and alignment */
.customHeaderAlignText {
    text-align: center;
}

.customContentJustify-center {
    justify-content: center;
}

.contactInfoHeader {
    font-family: 'FuturaPT-Medium';
    font-size: 55pt;
    color: #f4e0b9;
    margin-bottom: -10px;
}

.contactInfo-subHeaderText {
    min-width: 100%;
    font-size: 30pt;
    padding-bottom: 2%;
    text-align: center;
}

/* contact information row text styling and alignment*/
.row:last-of-type {
    justify-content: center;
    width: 100%;
}

.footerRightSection, .footerLeftSection {
    height: 100%;
}

.footer-subText {
    font-family: 'FuturaPT-Light';
    font-size: 15pt;
}

.verticalLineStyle {
    border-left: 4px solid #f4e0b9;
}

.customContentJustify-right {
    justify-content: right;
}

.customContentJustify-left {
    justify-content: right;
}

/* share button styling and padding */
.customPadding {
    padding-top: 12%;
}

.shareButton {
    background: transparent;
    border-width:medium;
    color: #f4e0b9;
    border-color: #f4e0b9;
    font-family: 'FuturaPT-Light';
    font-size: 20pt;
    padding: 15px 45px;
    margin-top: 4%;
}

/*SMALL LAYOUT SPECIFIC STYLES */
.customPadding-left {
    padding-left: 10%;
}

.customPadding-Left-None {
    padding-left: 0;
}


/* CONTACT INFO MEDIA QUERY OPTIMIZATION */
@media (min-width: 1920px) {
}

@media (max-width: 1200px) {
    .contactInfo-subHeaderText {
        font-size: 25pt;
    }
    .customPadding {
        padding-top: 15%;
    }
}

@media (max-width: 1000px) {
    .contactInfoHeader {
        font-size: 40pt;
    }
    .contactInfo-subHeaderText {
        font-size: 18.5pt;
        padding-bottom: 3%;
    }
    .customPadding {
        padding-top: 15%;
    }
}

@media (max-width: 960px) {
    .shareButton {
        border-width:2px;
        font-size: 15pt;
        padding: 12px 29px;
    }
    .customPadding {
        padding-top: 30%;
    }
}

@media (max-width: 770px) {
    .shareButton {
        border-width:2px;
        font-size: 13pt;
        padding: 10px 27px;
    }
    .contactInfo-subHeaderText {
        font-size: 14pt;
    }
    .contactInfoHeader {
        font-size: 28pt;
        padding-bottom: 1%;
    }
    .footer-subText {
        font-size: 10pt;
    }
}

@media (max-width: 550px) {
    .shareButton {
        border-width:1.75px;
        font-size: 12pt;
        padding: 8px 20px;
    }
    .contactInfo-subHeaderText {
        font-size: 12pt;
    }
    .contactInfoHeader {
        font-size: 25pt
    }
    .footer-subText {
        font-size: 9pt;
    }
    .verticalLineStyle {
        border-left: 3px solid #f4e0b9;
    }
    .customPadding {
        margin-top: 20%;
    }
}

@media (max-width: 480px) {
    .shareButton {
        font-size: 10pt;
        padding: 8px 20px;
    }
    .contactInfo-subHeaderText {
        font-size: 9.5pt;
    }
    .contactInfoHeader {
        font-size: 19pt;
        padding-bottom: 2%;
    }
    .footer-subText {
        font-size: 7pt;
    }
    .specialMaxIconWidth {
        max-width: 12px;
    }
    .maxIconWidth {
        max-width: 15px;
    }
    .customPadding {
        margin-top: 35%;
    }
    .shareTextCustom {
        font-size: 9pt;
    }
    .shareButtonCustomPadding {
        padding-top: 2%;
    }
}

@media (max-width: 380px) {
    .shareButton {
        font-size: 10pt;
        padding: 6px 18px;
    }
    .contactInfo-subHeaderText {
        font-size: 8pt;
    }
    .contactInfoHeader {
        font-size: 15pt;
        padding-bottom: 3%;
    }
    .footer-subText {
        font-size: 6pt;
    }
    .specialMaxIconWidth {
        max-width: 9px;
    }
    .maxIconWidth {
        max-width: 12px;
    }
    .customPadding {
        margin-top: 30%;
    }
    .verticalLineStyle {
        border-left: 1px solid #f4e0b9;
    }
    .reducedPadding {
        padding-right: -2px;
    }
}

@media (max-width: 320px) {
    .shareButton {
        font-size: 9pt;
        padding: 5px 15px;
    }
}