@font-face {
    font-family: 'FuturaPT-Bold';
    src: local('FuturaPT Bold'), local('FuturaPTBold'),
    url(fonts/FuturaPTBold.otf);
}

@font-face {
    font-family: "FuturaPT-Medium";
    src: local('FuturaPT Medium'), local('FuturaPTMedium'),
    url(fonts/FuturaPTMedium.otf) format("opentype");
}

@font-face {
    font-family: "FuturaPT-MediumOblique";
    src: local('FuturaPT Medium Oblique'), local('FuturaPTMediumOblique'),url(fonts/FuturaPTCondMediumOblique.otf) format("opentype");
}

@font-face {
    font-family: "FuturaPT-Book";
    src: local('FuturaPT Book'), local('FuturaPTBook'),
        url(fonts/FuturaPTBook.otf) format("opentype");
}

@font-face {
    font-family: "FuturaPT-Light";
    src: local('FuturaPT Light'), local('FuturaPTLight'),url(fonts/FuturaPTLight.otf) format("opentype");
}

/* Basic styles*/
html, body {margin:0;padding:0;height:100%;}


/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* TITLE PAGE STYLES */
#page1 {
    width: 100%;
    background: #5f703a;
    position: relative;
}

.titleImage {
    padding-top: 5%;
    padding-bottom: 5%;
}

.titleOblique-text {
    font-family: 'FuturaPT-MediumOblique';
    font-size: 45pt;
    color: #f4e0b9;
    letter-spacing: 1.5px;
}

.title-lineStyle {
    content: "";
    display: block;
    margin: 0 auto;
    width: 3%;
    border-bottom: solid 2px #f4e0b9;
    margin-top: 1%;
}

.scroll-info {
    width: 30%;
    margin: 0 auto;
    padding-bottom: 3%;
    margin-top: 2.5%;
}

.scroll-text {
    font-family: 'FuturaPT-Book';
    font-size: 15pt;
    color: #f4e0b9;
}

    
/* optimizing background for MINIMIZED DESKTOP displays*/
@media (max-width: 1200px) {
    .titleImage {
        max-width: 90%;
        height: auto;
    }

    .titleOblique-text {
        font-size: 35pt;
    }
    
    .scroll-text {
        font-size: 12pt;
    }
}

@media (max-width: 1000px) {
    .titleOblique-text {
        font-size: 28pt;
    }
    .scroll-text {
        font-size: 12pt;
    }
}

@media (max-width: 795px) {
    .titleOblique-text {
        font-size: 23pt;
    }
    .scroll-text {
        font-size: 12pt;
    }
}

@media (max-width: 660px) {
    .titleOblique-text {
        font-size: 19pt;
    }
    .scroll-text {
        font-size: 10pt;
    }
}

@media (max-width: 555px) {
    .titleOblique-text {
        font-size: 13.5pt;
    }
    .scroll-text {
        font-size: 6.5pt;
    }
}

@media (max-width: 380px) {
    .titleOblique-text {
        font-size: 11pt;
    }
    .scroll-text {
        font-size: 6.5pt;
    }
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/

.page-divider {
    background-color: #464232;
    width: 100%;
    height: 75px;
}

.navbar {
    min-height: 75px;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/


/* HOME PAGE STYLES */
#page2 {
    width: 100%;
}

.imageContainer { /* Background Image Styles */
    position: relative;
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    z-index: -100;
}

img.mainImage {
    transform: rotate(90deg);
    min-width: 150%;
    opacity: 0.85;
} 

/* Nav Bar Styles */
nav.customNavStyles-unFixed {
    /*detached from top of page until scrolled past*/
    background-color: rgba(128,128,128,0.5);
    /*position: absolute;*/
    top: 0;
    width: 100%;
    z-index: 100;
}

nav.customNavStyles-Fixed {
    /*affixes nav bar to top of page once scrolled past*/
    background-color: rgba(128,128,128,0.5);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.navbar-brand {
    font-family: 'FuturaPT-Book';
    font-size: 20pt;
    color: white;
}

.nav-item {
    /*spacing out nav items*/
    margin-left: 20%;
    color: white;
    font-size: 13pt;
}

.nav-link:hover {
    color: #f5e1b9 !important;
}

/* Main Page content DESKTOP */
.contentContainer {
    display: block;
    position: absolute;
    width: 100%;
    margin-top: 45%;
}

.headerStyle {
    font-family: 'FuturaPT-Bold';
    font-size: 60pt;
    color: #f4e0b9;
    margin-bottom: -1.5%;
    /*margin-bottom: 2.5%;*/
}


.infoStyle {
    font-family: "FuturaPT-Light";
    font-size: 29.5pt;
    color: #f4e0b9;
    letter-spacing: 0.3pt;
    margin-bottom: 0%;
}

.lineStyle {
    content: "";
    display: block;
    margin: 0 auto;
    width: 25%;
    border-bottom: solid 4px #f4e0b9;
}

.btn:first-of-type {
    background: transparent;
    border-width:medium;
    color: #f4e0b9;
    border-color: #f4e0b9;
    font-family: 'FuturaPT-Light';
    font-size: 20pt;
    padding: 15px 45px;
    margin-top: 4%;
}

.btn:first-of-type:hover {
    background-color: dimgrey;
}



/* Downsized MainPage MOBILE */

@media (max-width: 991px) {
    /* modifies margin spacing when the nav bar is collapsed */
    .navbar-collapse .nav-item{
        margin-left: 0%;
        margin-top: 2.5%;
    }
    
    /* optimizing background for MINIMIZED DESKTOP displays*/
    @media (max-width: 978px) {
        img.mainImage {
        }

        .imageContainer {
        }
        
        .contentContainer {
        }

        .headerStyle {
            font-family: 'FuturaPT-Bold';
            font-size: 35pt;
            color: #f4e0b9;
            margin-bottom: -2%;
        }


        .infoStyle {
            font-family: "FuturaPT-Light";
            font-size: 16.5pt;
            color: #f4e0b9;
            letter-spacing: 0.3pt;
            margin-bottom: -2%;
        }
        
        .lineStyle {
            content: "";
            display: block;
            margin: 0 auto;
            width: 25%;
            border-bottom: solid 3px #f4e0b9;
            margin-bottom: 0%;
        }

        .btn:first-of-type {
            background: transparent;
            border-width:2px;
            color: #f4e0b9;
            border-color: #f4e0b9;
            font-family: 'FuturaPT-Light';
            font-size: 15pt;
            padding: 12px 29px;
            margin-top: 4%;
        }
    }
    
    /* OPTIMIZING FOR MOBILE DEVICES*/
    @media (max-width: 500px) {
        .navbar-brand {
            font-family: 'FuturaPT-Book';
            font-size: 15pt;
            color: white;
        }

        .nav-item {
            /*spacing out nav items*/
            margin-left: 20%;
            color: white;
            font-size: 10pt;
        }
        
        img.mainImage {
        }
        
        .imageContainer { /*background restyling*/
        }
        
        .contentContainer {
        }

        .headerStyle {
            font-family: 'FuturaPT-Bold';
            font-size: 20pt;
            color: #f4e0b9;
            margin-bottom: -3%;
        }


        .infoStyle {
            font-family: "FuturaPT-Light";
            font-size: 9.25pt;
            color: #f4e0b9;
            letter-spacing: 0.3pt;
            margin-bottom: -7%;
        }
        
        .lineStyle {
            content: "";
            display: block;
            margin: 0 auto;
            width: 25%;
            border-bottom: solid 2px #f4e0b9;
            margin-bottom: 1%;
        }

        .btn:first-of-type {
            background: transparent;
            border-width:1px;
            color: #f4e0b9;
            border-color: #f4e0b9;
            font-family: 'FuturaPT-Light';
            font-size: 12pt;
            padding: 5px 18px;
            margin-top: 4%;
        }
    } 
        
}


/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/


/* DIVIDER 1 STYLES */
#highlightsDivider {
    padding-top: 1%;
    width: 100%;
    background: #454231;
    position: relative;
    padding-bottom: 1%;
}

.dividerHeader {
    font-family: 'FuturaPT-Medium';
    font-size: 48pt;
    color: #f4e0b9;
    margin-bottom: -10px;
}

.dividerSubText {
    font-family: 'FuturaPT-Light';
    font-size: 20pt;
    color: #f4e0b9;
    margin-bottom: 1%;
}

/* Optimizing Divider for Minimized Screen Widths */
@media (max-width: 1485px) {
    #highlightsDivider {
    }
    
    @media (max-width: 1221px) {
        #highlightsDivider {
        }
    }
}

/* Optimizing for smaller desktop displays */
@media (max-width: 975px) {
    .dividerHeader {
        font-size: 30pt;
        margin-bottom: -10px;
    }

    .dividerSubText {
        font-size: 15pt;
        padding-bottom: 2%;
    }
}

/* Optimizing for mobile displays */
@media (max-width: 500px) {
    .dividerHeader {
        font-size: 20pt;
        margin-bottom: -16px;
    }

    .dividerSubText {
        font-size: 10pt;
    }
}


/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/


/* Highlights Page */
#page3 {
    width: 100%;
    position: relative;
    background-color: #8e7d69;
    display: block;
}

.row {
    width: 100%;
    margin: 0 auto;
}

.row:first-of-type {
    padding-top: 25px;
}

.imageAnchor {
    border-style: none;
    background: none;
    padding: 0px;
    border-radius: 0px;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/


/* More Info Divider */
#moreInfoDivider {
    z-index: 100;
    padding-top: 1.5%;
    width: 100%;
    background: #454231;
    position: relative;
    padding-bottom: 2.5%;
}

.infoDivider-lineStyle {
    content: "";
    display: block;
    margin: 0 auto;
    width: 18%;
    border-bottom: solid 4px #f4e0b9;
    margin-top: -1.5%;
    margin-bottom: -1%;
}

/* Optimizing for smaller desktop displays */
@media (max-width: 1200px) {
    .infoDivider-lineStyle {
        margin-top: -3%;
    }
}

@media (max-width: 978px) {
    .infoDivider-lineStyle {
        border-bottom: solid 3px #f4e0b9;
        margin-top: -5%;
    }
}

@media (max-width: 800px) {
    .infoDivider-lineStyle {
        margin-top: -7%;
    }
}

@media (max-width: 500px) {
    .infoDivider-lineStyle {
        border-bottom: solid 2px #f4e0b9;
        margin-top: -10%;
    }
}


@media (max-width: 300px) {
    .infoDivider-lineStyle {
        border-bottom: solid 2px #f4e0b9;
        margin-top: -16%;
    }
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Bio Page Styles */
#page4 { /* Background Image Styles */
    position: relative;
    width: 100%;
}

.imageContainer2 { /* Background Image Styles */
    position: relative;
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    z-index: -101;
}

.mainImage2 {
    transform: rotate(90deg);
    min-width: 150%;
    opacity: 0.9;
}

.flexboxRestricted {
    width: 40%;
    margin-top: 15%;
    margin-left: 5%;
    max-height: 100%;
}



/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Contact Info */
#contactInfo {
    width: 100%;
    background-color: #5f703a;
    color: #f4e0b9;
    padding-top: 2%;
    padding-bottom: 2%;

}

.footer-contentContainer {
    width: 100%;
}

.footer-subText {
    font-family: 'FuturaPT-Light';
    font-size: 15pt;
}

.footerRightSection, .footerLeftSection {
    height: 100%;
}

.verticalLineStyle {
    border-left: 4px solid #f4e0b9;
}

.row:last-of-type {
    justify-content: center;
}

.dividerSubText:last-of-type {
    font-size: 23pt;
}

.customContentJustify-right {
    justify-content: right;
}

.customPadding {
    padding-top: 12%;
}

.customMargin-Footer {
    
}










