@font-face {
    font-family: 'FuturaPT-Bold';
    src: local('FuturaPT Bold'), local('FuturaPTBold'),
    url(fonts/FuturaPTBold.otf);
}

@font-face {
    font-family: "FuturaPT-Medium";
    src: local('FuturaPT Medium'), local('FuturaPTMedium'),
    url(fonts/FuturaPTMedium.otf) format("opentype");
}

@font-face {
    font-family: "FuturaPT-MediumOblique";
    src: local('FuturaPT Medium Oblique'), local('FuturaPTMediumOblique'),url(fonts/FuturaPTCondMediumOblique.otf) format("opentype");
}

@font-face {
    font-family: "FuturaPT-Book";
    src: local('FuturaPT Book'), local('FuturaPTBook'),
        url(fonts/FuturaPTBook.otf) format("opentype");
}

@font-face {
    font-family: "FuturaPT-Light";
    src: local('FuturaPT Light'), local('FuturaPTLight'),url(fonts/FuturaPTLight.otf) format("opentype");
}

/* Basic styles*/
html, body {margin:0;padding:0;height:100%;}


/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* TITLE PAGE STYLES */
#page1 {
    width: 100%;
    height: 100%;
    background: #5f703a;
    position: relative;
}

.titleImage {
    padding-top: 5%;
    padding-bottom: 5%;
}

.titleOblique-text {
    font-family: 'FuturaPT-MediumOblique';
    font-size: 35pt;
    color: #f4e0b9;
    letter-spacing: 1.5px;
}

.title-lineStyle {
    content: "";
    display: block;
    margin: 0 auto;
    width: 3%;
    border-bottom: solid 2px #f4e0b9;
    margin-top: 1%;
}

.scroll-info {
    width: 30%;
    margin: 0 auto;
    padding-bottom: 3%;
    margin-top: 2.5%;
}

.scroll-text {
    font-family: 'FuturaPT-Book';
    font-size: 15pt;
    color: #f4e0b9;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/

.page-divider {
    content: "";
    background-color: #464232;
    width: 100%;
    max-height: 65px;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/


/* HOME PAGE STYLES */
#imageContainer { /* Background Image Styles */
    width: 100%;
    height: 100%;
    position: relative;
    /*position: absolute;
    top: 0px;
    left: 0px;*/
    z-index: -100;
    transform: rotate(90deg);
}

img.mainImage {
    z-index: -101;
    object-fit: fill;
    max-width: 150%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.85;
} 

/* Nav Bar Styles */
nav.customNavStyles-unFixed {
    /*detached from top of page until scrolled past*/
    background-color: rgba(128,128,128,0.5);
    /*position: absolute;*/
    top: 0;
    width: 100%;
}

nav.customNavStyles-Fixed {
    /*affixes nav bar to top of page once scrolled past*/
    background-color: rgba(128,128,128,0.5);
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-brand {
    font-family: 'FuturaPT-Book';
    font-size: 20pt;
    color: white;
}

.nav-item {
    /*spacing out nav items*/
    margin-left: 20%;
    color: white;
    font-size: 13pt;
}

.nav-link:hover {
    color: #f5e1b9 !important;
}

/* Main Page content DESKTOP

.parent-container {
    position: relative;
    height:100%;
    width: 100%;
}

.child-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 265%);
}
*/

.headerStyle {
    font-family: 'FuturaPT-Bold';
    font-size: 60pt;
    color: #f4e0b9;
    margin-bottom: -1.5%;
    /*margin-bottom: 2.5%;*/
}


.infoStyle {
    font-family: "FuturaPT-Light";
    font-size: 29.5pt;
    color: #f4e0b9;
    letter-spacing: 0.3pt;
    margin-bottom: 0%;
}

/*
.infoStyle::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 50%;
    padding-top: 5%;
    border-bottom: solid 4px #f4e0b9;
}*/

.lineStyle {
    content: "";
    display: block;
    margin: 0 auto;
    width: 25%;
    border-bottom: solid 4px #f4e0b9;
}



.btn:first-of-type {
    background: transparent;
    border-width:medium;
    color: #f4e0b9;
    border-color: #f4e0b9;
    font-family: 'FuturaPT-Light';
    font-size: 20pt;
    padding: 15px 45px;
    margin-top: 4%;
}

.btn:first-of-type:hover {
    background-color: dimgrey;
}

.contentContainer {
    margin-top: 50%;
}

/* Downsized MainPage MOBILE */

@media (max-width: 991px) {
    /* modifies margin spacing when the nav bar is collapsed */
    .navbar-collapse .nav-item{
        margin-left: 0%;
        margin-top: 2.5%;
    }
    
    /* optimizing background for MINIMIZED DESKTOP displays*/
    @media (max-width: 978px) {
        img.mainImage {
            z-index: -101;
            max-width: 150%;
            margin: auto;
            position: absolute;
            top: 0px;
            left: 180px;
        }

        #imageContainer {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: -100;
            transform: rotate(90deg);
        }
        
        .parent-container {
            position: relative;
            height:100%;
            width: 100%;
        }

        .child-container {
            position: absolute;
            perspective: 1000;
            top: 50%;
            left: 50%;
            margin: 0 auto;
        }
        
        .contentContainer {
            margin-top: 45%;
        }

        .headerStyle {
            font-family: 'FuturaPT-Bold';
            font-size: 35pt;
            color: #f4e0b9;
            margin-bottom: -2%;
        }


        .infoStyle {
            font-family: "FuturaPT-Light";
            font-size: 16.5pt;
            color: #f4e0b9;
            letter-spacing: 0.3pt;
            margin-bottom: -2%;
        }
        
        .lineStyle {
            content: "";
            display: block;
            margin: 0 auto;
            width: 25%;
            border-bottom: solid 3px #f4e0b9;
            margin-bottom: 0%;
        }

        .btn:first-of-type {
            background: transparent;
            border-width:2px;
            color: #f4e0b9;
            border-color: #f4e0b9;
            font-family: 'FuturaPT-Light';
            font-size: 15pt;
            padding: 12px 29px;
            margin-top: 4%;
        }
    }
    
    /* OPTIMIZING FOR MOBILE DEVICES*/
    @media (max-width: 500px) {
        .navbar-brand {
            font-family: 'FuturaPT-Book';
            font-size: 15pt;
            color: white;
        }

        .nav-item {
            /*spacing out nav items*/
            margin-left: 20%;
            color: white;
            font-size: 10pt;
        }
        
        img.mainImage {
            z-index: -101;
            max-width: 150%;
            margin: auto;
            position: absolute;
            top: 0px;
            left: 180px;
        }
        
        #imageContainer { /*background restyling*/
            width: 100%;
            height: 100%;
            position: relative;
            z-index: -100;
            transform: rotate(90deg);
        }
        
        .contentContainer {
            margin-top: 62%;
        }

        .headerStyle {
            font-family: 'FuturaPT-Bold';
            font-size: 20pt;
            color: #f4e0b9;
            margin-bottom: -3%;
        }


        .infoStyle {
            font-family: "FuturaPT-Light";
            font-size: 9.25pt;
            color: #f4e0b9;
            letter-spacing: 0.3pt;
            margin-bottom: -7%;
        }
        
        .lineStyle {
            content: "";
            display: block;
            margin: 0 auto;
            width: 25%;
            border-bottom: solid 2px #f4e0b9;
            margin-bottom: 1%;
        }

        .btn:first-of-type {
            background: transparent;
            border-width:1px;
            color: #f4e0b9;
            border-color: #f4e0b9;
            font-family: 'FuturaPT-Light';
            font-size: 12pt;
            padding: 5px 18px;
            margin-top: 4%;
        }
    } 
        
}




























/* TEST STYLES */
