@font-face {
    font-family: 'FuturaPT-Bold';
    src: local('FuturaPT Bold'), local('FuturaPTBold'),
    url(fonts/FuturaPTBold.otf);
}

@font-face {
    font-family: "FuturaPT-Medium";
    src: local('FuturaPT Medium'), local('FuturaPTMedium'),
    url(fonts/FuturaPTMedium.otf) format("opentype");
}

@font-face {
    font-family: "FuturaPT-MediumOblique";
    src: local('FuturaPT Medium Oblique'), local('FuturaPTMediumOblique'),url(fonts/FuturaPTCondMediumOblique.otf) format("opentype");
}

@font-face {
    font-family: "FuturaPT-Book";
    src: local('FuturaPT Book'), local('FuturaPTBook'),
        url(fonts/FuturaPTBook.otf) format("opentype");
}

@font-face {
    font-family: "FuturaPT-Light";
    src: local('FuturaPT Light'), local('FuturaPTLight'),url(fonts/FuturaPTLight.otf) format("opentype");
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Background Image Styles */

#imageContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -100;
    transform: rotate(90deg);
    
}

img.mainImage {
    z-index: -101;
    object-fit: fill;
    max-width: 150%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.8;
} 

/* Nav Bar Styles */
nav {
    z-index: 100;
}

nav.customNavStyles {
    /*affixes nav bar to top of pag*/
    background-color: rgba(128,128,128,0.5);
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-brand {
    font-size: 22pt;
    color: white;
}

.nav-item > a {
    color: white;
    font-size: 15pt;
}

.nav-item {
    /*spacing out nav items*/
    margin-left: 20%;
}

/* Main Page content DESKTOP
.parent-container {
    position: relative;
    height:100%;
    width: 100%;
}

.child-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 265%);
}
*/
.headerStyle {
    font-family: 'FuturaPT-Bold';
    font-size: 60pt;
    color: #f4e0b9;
    margin-bottom: -1.5%;
    /*margin-bottom: 2.5%;*/
}


.infoStyle {
    font-family: "FuturaPT-Light";
    font-size: 29.5pt;
    color: #f4e0b9;
    letter-spacing: 0.3pt;
    margin-bottom: 0%;
}

/*
.infoStyle::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 50%;
    padding-top: 5%;
    border-bottom: solid 4px #f4e0b9;
}*/

.lineStyle {
    content: "";
    display: block;
    margin: 0 auto;
    width: 25%;
    border-bottom: solid 4px #f4e0b9;
}



.btn:first-of-type {
    background: transparent;
    border-width:medium;
    color: #f4e0b9;
    border-color: #f4e0b9;
    font-family: 'FuturaPT-Light';
    font-size: 20pt;
    padding: 15px 45px;
    margin-top: 4%;
}

.contentContainer {
    margin-top: 50%;
}

/* Downsized MainPage MOBILE 
h: 964
w: 978
*/

@media (max-width: 991px) {
    /* modifies margin spacing when the nav bar is collapsed */
    .navbar-collapse .nav-item{
        margin-left: 0%;
        margin-top: 2.5%;
    }
    
    /* optimizing background for MINIMIZED DESKTOP displays*/
    @media (max-width: 978px) {
        img.mainImage {
            z-index: -101;
            max-width: 150%;
            margin: auto;
            position: absolute;
            top: 0px;
            left: 180px;
        }

        #imageContainer {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: -100;
            transform: rotate(90deg);
        }
        
        .parent-container {
            position: relative;
            height:100%;
            width: 100%;
        }

        .child-container {
            position: absolute;
            perspective: 1000;
            top: 50%;
            left: 50%;
            margin: 0 auto;
        }
        
        .contentContainer {
            margin-top: 45%;
        }

        .headerStyle {
            font-family: 'FuturaPT-Bold';
            font-size: 35pt;
            color: #f4e0b9;
            margin-bottom: -2%;
        }


        .infoStyle {
            font-family: "FuturaPT-Light";
            font-size: 16.5pt;
            color: #f4e0b9;
            letter-spacing: 0.3pt;
            margin-bottom: -2%;
        }
        
        .lineStyle {
            content: "";
            display: block;
            margin: 0 auto;
            width: 25%;
            border-bottom: solid 3px #f4e0b9;
            margin-bottom: 0%;
        }

        .btn:first-of-type {
            background: transparent;
            border-width:2px;
            color: #f4e0b9;
            border-color: #f4e0b9;
            font-family: 'FuturaPT-Light';
            font-size: 15pt;
            padding: 12px 29px;
            margin-top: 4%;
        }
    }
    
    /* Optimizing for MOBILE DEVICES */
    @media (max-width: 450px) {
        img.mainImage {
            z-index: -101;
            max-width: 150%;
            margin: auto;
            position: absolute;
            top: 0px;
            left: 180px;
        }

        #imageContainer {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: -100;
            transform: rotate(90deg);
        }
        
        .parent-container {
            position: relative;
            height:100%;
            width: 100%;
        }

        .child-container {
            position: absolute;
            perspective: 1000;
            top: 50%;
            left: 50%;
            margin: 0 auto;
        }
        
        .contentContainer {
            margin-top: 69%;
        }

        .headerStyle {
            font-family: 'FuturaPT-Bold';
            font-size: 20pt;
            color: #f4e0b9;
            margin-bottom: -3%;
        }


        .infoStyle {
            font-family: "FuturaPT-Light";
            font-size: 9.25pt;
            color: #f4e0b9;
            letter-spacing: 0.3pt;
            margin-bottom: -7%;
        }
        
        .lineStyle {
            content: "";
            display: block;
            margin: 0 auto;
            width: 25%;
            border-bottom: solid 2px #f4e0b9;
            margin-bottom: 1%;
        }

        .btn:first-of-type {
            background: transparent;
            border-width:1px;
            color: #f4e0b9;
            border-color: #f4e0b9;
            font-family: 'FuturaPT-Light';
            font-size: 12pt;
            padding: 5px 18px;
            margin-top: 4%;
        }
    } 
        
}



/* TEST STYLES */
